<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mex_beh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="wcf_pra.Service_pra" behaviorConfiguration="mex_beh">
        <endpoint address="" binding="netTcpBinding" contract="wcf_pra.IService_pra"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8335" />
            <add baseAddress="net.tcp://localhost:8336"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>